/*app-base*/
#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	background-color: #f4f4f4!important;
	overflow-x: hidden;
}
.nowrap {
		display: inline-block;
		text-decoration: inherit;
		white-space: nowrap;
}
a{
	text-decoration: none!important;
	color:#000
}
a:hover{
	color:#5ea67a
}
.textcon p{
	line-height: 2em;
	margin:1.5em 0;
}
mark{
	font-weight: bolder;
}
.colored{
	color:#5ea67a
}

.subtext{
	color: #aaa
}



.animated {
	-webkit-animation-duration: 0.3s!important;
	animation-duration: 0.3s!important;
	transition:cubic-bezier(0.22, 0.58, 0.12, 0.98) 0.4s!important
}

/*--------------------*/
/*app-components*/
#nav a {
	font-weight: bold;
	color: #2c3e50;
	display: inline-block;
	margin-right: 15px;
	transition:color 0.5s;
}

#nav a:hover{
	color: #42b983;
}

#nav a.router-link-exact-active {
	color: #42b983!important;
}

#foot{
	display: flex;
	align-items: center;
	min-height: 350px;
	margin:50px 0 0 0 !important;
	background-image: url('../img/basic/foot.png');
	background-repeat: repeat;
	background-position:center top;
}
#foot .copyright{
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#foot a{
	color: #bbb!important;
	transition: 0.5s
}
#foot a:hover{
	color: #fff!important
}

[v-cloak] {
  display: none!important;
}
/*--------------------*/
/*home-components*/

.jumbohead{
	background-color:#fff!important;
	background-size:50%;
	background-repeat:no-repeat;
	background-position: bottom right;
	height:50%;
	margin-top: 50px;
}

.d-block{
	border-radius:10px;
}
.carousel-inner{
	border-radius: 10px;
}
.carousel-caption{
	width:100%;
	position:static;
	color: inherit;
}
.carousel-caption h4{
	color: inherit;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	margin-top: -70px
}


.card{
	border:none;
	border-radius: 1em;
}

.card-title.home,.card-text.home{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.card-title{
	font-size: 1.6em
}
.card-text{
	color:#aaa
}
.card-body{
	display: flex;
	align-items: center;
}
.inside{
	width:100%
}
.card-img.inner{
	border-top-left-radius: calc(1rem - 1px);
	border-top-right-radius: calc(1rem - 1px);
}
.card-img.home{
	width: 50%;
	padding:0;
	border-top-left-radius: calc(1rem - 1px);
	border-bottom-left-radius: calc(1rem - 1px);
}
@media(max-width: 768px){
	.card-img.home{    
	width: 100%;
	border-top-right-radius: calc(1rem - 1px);
	border-bottom-left-radius: 0;
	}
}

.badge{
	margin-bottom: 0
}


/*--------------------*/
/*detail-components*/
.infocont{
	display: flex;
	align-items: center;
}
.infocont img{
	width: 80px;
	border-radius: 50%
}
.infocont .ml-3{
	display: inline-block;
}
