/*app-base*/
#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	overflow-x: hidden;
}
.nowrap {
		display: inline-block;
		text-decoration: inherit;
		white-space: nowrap;
}
a{
	text-decoration: none!important;
	transition: 0.3s!important
}
h6 a{
	color:#5ea67a;
	line-height: 2.2em
}
a:hover{
	color:#42b983!important
}
.textcon p{
	line-height: 2em;
	margin:1.5em 0;
}
mark{
	font-weight: bolder;
}
.colored{ 
	color:#5ea67a
}

.subtext{
	color: #aaa
}

/*--------------------*/
/*app-components*/

.inline-block{
	display: inline-block;
}
#foot{
	display: flex;
	align-items: center;
	min-height: 200px;
	margin:50px 0 0 0 !important;
	background-repeat: repeat;
	background-position:center top;
}
#foot .copy{
	display: flex;
	align-items: center;
}
.right{
	text-align: right;	
	justify-content: flex-end;
}
@media(max-width:768px){
	.right{
		text-align: left;
		justify-content: flex-start;
	}
}
#foot a{
	color: #bbb!important;
	transition: 0.5s
}
#foot a:hover{
	color: #fff!important
}

[v-cloak] {
  display: none!important;
}
/*--------------------*/
/*home-components*/

.jumbohead{
	background-size:50%;
	background-repeat:no-repeat;
	background-position: bottom right;
	height:50%;
	margin-top: 50px;
}

.d-block{
	border-radius:10px;
}
.card,.alert{
	border:none;
	border-radius: 0.8em;
}

.card-title.home,.card-text.home{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.card-title{
	font-size: 1.6em
}
.card-text{
	color:#aaa
}
.inside{
	width:100%
}

/*--------------------*/
/*detail-components*/
.infocont{
	display: flex;
	align-items: center;
}
.infocont img{
	width: 80px;
	border-radius: 50%
}
.infocont .ml-3{
	display: inline-block;
}
#type{
	color: #aaa;
}