/*app-base*/
html, body {
	scroll-behavior: smooth;
	/*overflow-x: hidden;*/
	min-height: 100%;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code{
	font-family: consolas,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;
}

html::-webkit-scrollbar-button,div::-webkit-scrollbar-button {
	display: none;
}

code{
	background: #eee;
	border-radius: 5px;
	font-family: sans-serif;
	padding: 5px 10px 
}

body{
	width:100%!important;
}


.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 100px;
	color: #99979c;
	text-align: center;
	background-color: #2a2730;
}
.footer.in-dex {
	margin-top: 0px;
}
.footer-links {	
	padding-left: 0;
	display: inline-block;
	margin-bottom: 20px;
}
.footer-links li {
	margin-left: 25px;
	margin-top: 15px;
	display: inline-block;
}
.footer-links a {
	color: #ccc;
	transition:0.25s ease-out
}
.footer-links a:hover{
	color: #fff
}
.card{
	border: none;
	border-radius: 1.5em;
  overflow: hidden!important;
  background: #212529;
}

.card-img{
	border-radius: calc(1.5em - 1px);
	opacity: 0.5;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  transform: scale(1.05);
	transition: all .8s cubic-bezier(.22,.58,.12,.98)
}

.card-img:hover{
	opacity: 1;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  transform: scale(1)
}

.card-img:hover~.card-img-overlay{
	opacity: 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  transform: scale(1.05);
}

.card-img:hover~.card{
  background: #fff;
}

.card-img-overlay{
	left: 2em;
	top: 2em;
	width: 80%;	
	pointer-events:none;	
	transition: all .8s cubic-bezier(.22,.58,.12,.98)
}

#brandimg{
	height:55px;
	margin-top: 15px
}
@media(max-width:735px){
	#brandimg{
	height:35px;
	margin-top:2px
	}
}
tr{
	height: 40px
}
td{
	width:50%;
}

.panel{
	border:none;
}
.showname{
	font-size:1.2em;
	color:#0288D1;
	line-height: 43px;
}
.green{
	background-color: #008c57
}
.inlist{
	margin-top:12px;
}

.gray { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.blur { 
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
}
