nav{
	border-bottom:none!important;
	background:#fff
}
a{
	color:#000;
}
#app{
	background-color: #f4f4f4!important;
}

blockquote{
	padding: 0.5em 1.5em 0.5em 1.5em;
	background-color: #eee;
	color: #888;
	border-radius: 0.6em
}