nav{
	border-bottom:none!important;
	background:#333
}
a{
	color:#fff;
}
#app{
	background-color: #333!important;
	color:#e7e7e7!important;
}
.card{
	background-color: #444;
}
blockquote{
	padding: 0.5em 1.5em 0.5em 1.5em;
	background-color: #444;
	color: #999;
	border-radius: 0.6em
}

.jumbotron{
	background-color: #444!important
}

.alert-danger{
	background-color: #721c24!important;
	color: #f8d7da!important;
}

.alert-info {
	color: #d1ecf1;
	background-color:#0c5460;
}

.btn-outline-secondary{
	color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    color: #424242;
    background-color: #fff;
    border-color: #fff;
}

#markdown p img{
	filter:brightness(0.7);
}

#arti .card,#post .card{
	border-bottom: 1px solid #333;
}

.grey{
	color: #666!important;
}