body{
	margin:5px;
	background:#000;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans CN,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif
}
section {
	display: flex;
	flex-wrap: wrap;
}
section::after {
	content: '';
	flex-grow: 999999999;
}
.cont {
	margin: 5px;
	background-color: #333;
	position: relative;
	overflow: hidden
}
i{
	display: block;
}
.bg{
	position: absolute;
	top: 0;
	width: 100%;
	vertical-align: bottom;
	filter: brightness(0.3);
	-webkit-filter: brightness(0.3);
	transition: all .8s cubic-bezier(.22,.58,.12,.98)
}
.bg:hover{
	filter: none
}
.float{
	position: fixed;
	z-index: 10;
	display: inline-flex;
	-webkit-display: inline-flex;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-content: center;
	pointer-events:none;
	flex-wrap: wrap;
}
.fldiv{
	/*flex-basis: 100%;*/
	line-height: 1.4em;
	height: 150px;
	display: flex;
	-webkit-display: flex;
	align-content: center;
	flex-wrap: wrap;
}
@media(max-width: 520px){
	.float{
		justify-content: center;
		padding: 0 5px;
		box-sizing: border-box
	}
	.fldiv{
		text-align: center;
	}
}

/*-------basic-------*/
html::-webkit-scrollbar,
div::-webkit-scrollbar {
	width: 10px;
	background: none;
}
html::-webkit-scrollbar-button,
div::-webkit-scrollbar-button {
	display: none
}
html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
	background-color: #333;
}

h1,h3{
	transition: all .8s cubic-bezier(.22,.58,.12,.98);
	color: #fff;
	letter-spacing: 0.2em;
	font-weight: 300;
}
.avt{
	border-radius: 50%;
	width:150px;
	height: 150px;
	margin: 0 60px;
}

.hide{
	opacity: 0;
}

.animate{
	animation-name: slidein;
	-webkit-animation-name: slidein;
	animation-duration: 1000ms;
}
.animate1{
	animation-name: slideinBG;
	-webkit-animation-name: slideinBG;
	animation-duration: 1000ms;
}

@keyframes slidein{
	0%{transform: translate(0px,50px);-webkit-transform: translate(0px,50px);opacity: 0}
	to{transform: translate(0px,0px);-webkit-transform: translate(0px,0px);opacity: 1}
}
@keyframes slideinBG{
	0%{transform: translate(0px,-50px);-webkit-transform: translate(0px,-50px);opacity: 0}
	to{transform: translate(0px,0px);-webkit-transform: translate(0px,0px);opacity: 1}
}

#pio-container {
	display: block !important;
	bottom: -0.3rem;
	z-index: 22637261;
	transition: transform 0.3s;
	cursor: grab;
}
#pio-container:hover {
	transform: translateY(-0.3rem);
}
#pio-container:active {
	cursor: grabbing;
}
#pio-container .pio-dialog {
	right: 10%;
	line-height: 1.5;
	background: rgba(255, 255, 255, 0.9);
}
#pio {
	width: 25em;
}
@media(max-width: 768px){
	#pio {
		width:15em!important;
	}
}
.pio-action .pio-home {
	display: none;
}
.pio-action span {
	background: none!important;
	background-size: 100%!important;
	border: 1px solid #fdcf7b!important;
	border: 0!important;
	width: 2em!important;
	height: 2em!important;
	margin-bottom: 0.6em!important;
}

.pio-action .pio-info {
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Crect transform='rotate(45.001 238.211 363.575)' x='29.285' y='22.411' width='273.903' height='505.038' rx='70' ry='70' fill='%23dcdcdc'/%3E%3Cpath d='M218.543 249.999l-47.186 47.186c-8.987 8.988-8.987 22.47 0 31.457 8.988 8.988 22.47 8.988 31.457 0L250 281.456l15.728 15.729c17.976 17.976 17.976 46.063 0 64.038l-64.037 64.038c-17.976 17.975-46.063 17.975-64.038 0l-64.038-64.038c-17.975-17.975-17.975-46.062 0-64.038l64.038-64.037c17.975-17.976 46.062-17.976 64.038 0l16.852 16.851z' fill='%23fff'/%3E%3Cpath d='M281.457 249.999l47.186-47.186c8.988-8.987 8.988-22.469 0-31.457-8.987-8.987-22.469-8.987-31.457 0L250 218.542l-15.729-15.729c-17.975-17.975-17.975-46.062 0-64.037l64.038-64.038c17.975-17.975 46.062-17.975 64.038 0l64.037 64.038c17.977 17.975 17.977 46.062 0 64.037l-64.037 64.038c-17.976 17.976-46.063 17.976-64.038 0l-16.852-16.852z' fill='%2361a3e0'/%3E%3C/svg%3E")!important;
}

.pio-action .pio-close {
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M249.999 198.668L352.665 96c14.667-14.666 36.668-14.666 51.335 0 14.666 14.667 14.666 36.668 0 51.334L301.333 250 404 352.668c14.666 14.667 14.666 36.666 0 51.332-14.667 14.667-36.667 14.667-51.334 0L249.999 301.334 147.333 404c-14.668 14.667-36.666 14.667-51.334 0-14.666-14.666-14.666-36.665 0-51.332L198.666 250 95.999 147.334c-14.666-14.666-14.666-36.667 0-51.334 14.668-14.666 36.665-14.666 51.333 0l102.667 102.668z' fill='%23873a18'/%3E%3C/svg%3E")!important;
}